.centroAyuda{
    display: flex;
    padding-top: 200px;
    /*align-items: center;*/
    background: linear-gradient(180deg, #76d0ddc6, #029db5c6);
    flex-direction: column;
    }

.centroAyuda p{
    font-size: 1em;
    text-align: justify;
}

.accordionBody{
    background: #76d0ddc6 ;
}