.image{
    width: 300px;
    height: 200px;
}

.destinos{
    display: flex;
    padding-top: 200px;
    align-items: center;
    background: linear-gradient(180deg,  #76d0ddc6, #029db5c6);
    flex-direction: column;
}

.destinos p{
    font-size: 2em;
}