.inicio{
    display: flex;
    flex-direction: column;    
    background: linear-gradient(180deg,  #1b0088, #3d13e4);
    padding: 20px 20px 200px;
    align-items: center;

}   

.titleContainer{
    padding-top: 50px;

}

.inicio p {
    font-size: 2em;
    color: #f1f1f1;

}